[user]
    name = Björn Ingvar Dahlgren
    email = bjodah@gmail.com
    signingkey = 79429A91
    #DE7E083195C707C5B8EDB0DA735FEE8A79429A91
    #signingkey = DC372128
[init]
    defaultBranch = master
[commit]
    gpgsign = true
[push]
    default = simple
[pull]
    rebase = false
[gpg]
    program = gpg2
[color]
    ui = true # always
[github]
    user = bjodah
[alias]
    a = add
    ap = add -p

    # list branches sorted by last modified
    b = branch
    br = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"
    bd = branch --delete
    bra = branch --remotes --sort='-authordate'

    clxfd = clean -xfd

    co   = commit --verbose
    coa  = commit -a --verbose
    coaa = commit -a --verbose --amend --no-edit
    com  = commit -m
    coam = commit -a -m

    ch  = checkout
    chb = checkout -b
    chbo = checkout -b $1 --track refs/remotes/origin/$1

    d  = diff
    dc = diff --cached
    ds = diff --stat

    f = fetch
    fixup = "!git log -n 50 --pretty=format:'%h %s' --no-merges | fzf -m | cut -c -7 | xargs -o git commit --fixup"

    gr = grep --recurse-submodules

    l  = log
    ll = log --decorate --date=short --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]"
    lt = log --decorate --date=short --graph --format="%C(auto)%h%C(reset) %C(green)%ar%C(reset) %C(blue)(%an)%C(reset) %C(auto)%d%C(reset) - %s"

    # list aliases
    la = "!git config -l | grep alias | cut -c 7-"

    pl   = pull
    plum = pull upstream master

    parent = "!git show-branch | grep '*' | grep -v \"$(git rev-parse --abbrev-ref HEAD)\" | head -n1 | sed 's/.*\\[\\(.*\\)\\].*/\\1/' | sed 's/[\\^~].*//' #"

    ps  = push
    pst = push --tags
    psf = push -f
    pso = "!git push --set-upstream origin $(git symbolic-ref --short HEAD)"

    rbip = "!git rebase -i $(git parent)"
    re = remote -v
    #root = "!f() { ROOT=`git rev-parse --show-superproject-working-tree`; [ -z \"$ROOT\" ] && git rev-parse --show-toplevel || echo \"$ROOT\"; }; f"
    recursive-root = "!git-recursive-root"

    s  = status
    ss = status -s

    sed = "!git grep -I -z --full-name -l '.' | xargs -0 sed -i -e"

    sm = submodule
    smu = submodule update --recursive --init
    smp = submodule foreach --recursive 'git pull'
    submodule-foreach-recursive-parallel = "!git-submodule-foreach-recursive-parallel"

    t = tag

    time-of-death = "!git show $(git rev-list --max-count=1 --all -- $1)~1:$1 #" # show latest revision before deletion of file
[url "https://"]
	insteadOf = git://
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
[safe]
	directory = /work
	directory = /tyr/wcc
	directory = /tyr/wvc
	directory = /tyr/wvc/scripts

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[include]
    path = ~/.gitconfig-local

[includeIf "gitdir:~/wvc/**"]
    path = ~/wvc/.gitconfig

[includeIf "gitdir:~/.data/vc/**"]
    path = ~/.data/vc/.gitconfig
[includeIf "gitdir:~/vc/**"]
    path = ~/.data/vc/.gitconfig
[includeIf "gitdir:~/kinetgine/**"]
    path = ~/.data/vc/.gitconfig
[includeIf "gitdir:~/phd-thesis-dahlgren/**"]
    path = ~/.data/vc/.gitconfig
[includeIf "gitdir:~/summation-cxx/**"]
    path = ~/.data/vc/.gitconfig
