[submodule "defaults/.bash-git-prompt"]
	path = per-leaf-dir/.bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
[submodule "depth-2/.emacs.d"]
	path = depth-2/.emacs.d
	url = https://github.com/plexus/chemacs2
[submodule "depth-1/.emacs.prelude"]
	path = depth-1/.emacs.prelude
	url = https://github.com/bjodah/prelude
[submodule "depth-1/.emacs.doom"]
	path = depth-1/.emacs.doom
	url = https://github.com/hlissner/doom-emacs
