[user]
	name = Björn Dahlgren
	email = bjodah@gmail.com
	signingkey = DC372128
[commit]
	gpgsign = true
[push]
	default = simple
[gpg]
	program = gpg2

[alias]
    a = add
    ap = add -p

    # list branches sorted by last modified
    b = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"
    bd = branch --delete

    c = commit --verbose
    ca = commit -a --verbose
    cm = commit -m
    cam = commit -a -m

    co = checkout
    cob = checkout -b

    d = diff
    dc = diff --cached
    ds = diff --stat

    f = fetch

    l = log
    ll = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short

    # list aliases
    la = "!git config -l | grep alias | cut -c 7-"

    m = commit --amend --verbose

    pl = pull
    plum = pull upstream master
    ps = push
    pt = push --tags
    po = "!git push --set-upstream origin $(git symbolic-ref --short HEAD)"

    re = remote -v

    s = status
    ss = status -s

    sm = submodule

    t = tag
