[user]
	name = Björn Ingvar Dahlgren
	email = bjodah@gmail.com
	signingkey = DC372128
[commit]
	gpgsign = true
[push]
	default = simple
[gpg]
	program = gpg2

[color]
	ui = always

[alias]
    a = add
    ap = add -p

    # list branches sorted by last modified
    b = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"
    bd = branch --delete
    br = branch --remote

    co = commit --verbose
    coa = commit -a --verbose
    coaa = commit -a --verbose --amend
    com = commit -m
    coam = commit -a -m

    ch = checkout
    chb = checkout -b

    d = diff
    dc = diff --cached
    ds = diff --stat

    f = fetch

    l = log
    ll = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short

    # list aliases
    la = "!git config -l | grep alias | cut -c 7-"

    m = commit --amend --verbose

    pl = pull
    plum = pull upstream master

    ps = push
    pst = push --tags
    psf = push -f
    pso = "!git push --set-upstream origin $(git symbolic-ref --short HEAD)"

    re = remote -v

    s = status
    ss = status -s

    sm = submodule

    t = tag

    time-of-death = "!git show $(git rev-list --max-count=1 --all -- $1)~1:$1 #" # show latest revision before deletion of file
    parent = "!git show-branch | grep '*' | grep -v \"$(git rev-parse --abbrev-ref HEAD)\" | head -n1 | sed 's/.*\\[\\(.*\\)\\].*/\\1/' | sed 's/[\\^~].*//' #"
    rbip = "!git rebase -i $(git parent)"