[user]
	name = Björn Dahlgren
	email = bjodah@gmail.com
	signingkey = DC372128
[commit]
	gpgsign = true
[push]
	default = simple

[alias]
    # one-line log
    l = log
    ll = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short

    pl = pull
    ps = push
    pt = push --tags
    po = "!git push --set-upstream origin $(git symbolic-ref --short HEAD)"

    a = add
    A = add -A
    ap = add -p

    c = commit --verbose
    ca = commit -a --verbose
    cm = commit -m
    cam = commit -a -m
    m = commit --amend --verbose

    d = diff
    ds = diff --stat
    dc = diff --cached

    s = status
    ss = status -s

    co = checkout
    cob = checkout -b
    # list branches sorted by last modified
    b = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"
    bd = branch --delete

    # list aliases
    la = "!git config -l | grep alias | cut -c 7-"
